@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* shared styles */
.text-center {
    text-align: center;
}

/* banner section style starts here */
.banner-container {
    margin: 0 auto;
    max-width: 1320px;
    min-height: 600px;
    margin-top: 20px;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p {
    color: white;
    font-size: 32px;
    font-weight: 400px;
}

.banner-content h1 {
    color: white;
    font-size: 72px;
    font-weight: 900px;
    display: flex;
    flex-direction: column;
}

.banner-content>h1 span {
    text-align: center;
}

/* 65% section styles starts here   */
.second-section-container {
    max-width: 802.9px;
    min-height: 806px;
    margin: 0 auto;
    margin-top: 120px;

}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content>h1 {
    color: red;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.second-section-content>p {
    margin-top: 48px;
    color: red;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.second-section-content>h3 {
    margin-top: 16px;
    color: rgb(7, 2, 17);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.second-section-content>div>img {
    margin-top: 48px;
    margin-bottom: 0;
    width: 802.9px;
    height: 500px;
}

/* welcome section styles starts here  */
.third-section-container {
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1320px;
    min-height: 600px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.third-section-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 600px;
}

.third-section-content>h1 {
    color: white;
    font-size: 64px;
    font-weight: 900;
    margin-left: 126px;
    margin-top: 126px;
}

.third-section-content>p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 126px;
    margin-top: 24px;
    width: 697px;
}

.third-section-content>span {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 158px;
    margin-top: 48px;
    text-decoration: none;
}

.third-section-image {
    margin: 68.12px 108.67px 67.29px 39.17px;
}

/* <!-- place section styles starts here  --> */
.place-section-container {
    margin: 0 auto;
    max-width: 1320px;
    height: 482px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-section-content>p {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    color: rgb(7, 2, 17);
    text-align: center;
    margin: 100px 386px 48px;
}

.place-section-content>p>span {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    color: red;
}

.place-section-button button {
    /* Frame 1 */
    width: 167px;
    height: 56px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* <!-- ellipse section starts here  --> */
.ellipse-section-container {
    margin: 0 auto;
    width: 1320px;
    height: 463px;
    display: flex;
    justify-self: center;
}

.ellipse-left-column {
    margin-top: 104px;
    width: 393px;
    height: 255px;
}

.ellipse-left-column>h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.ellipse-left-column>h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.ellipse-left-column>p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.ellipse-middle-column {
    margin-left: 70px;
    width: 463px;
    height: 463px;
}

.ellipse-middle-column-ellipse1 {
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    width: 463px;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 49px;
}

.ellipse-middle-column-ellipse1>img {
    width: 364.84px;
    height: 364.84px;
}

.ellipse-right-column {
    margin-top: 112px;
    margin-left: 118px;
    width: 276px;
    height: 170px;
}

.ellipse-right-column>h2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.ellipse-right-column>p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.ellipse-right-column>img {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

/* <!-- holiday section styles starts here  --> */
.holiday-section-container {
    margin: 0 auto;
    margin-top: 120px;
    width: 1068px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holiday-section-container>h4 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-section-container>h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-top: 16px;
}

.holiday-section-container>h1>span {
    color: red;
}

.holiday-section-container>p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
}
/* <!-- discount section styles starts here  --> */
.discount-section-container{
    margin: 0 auto;
    width: 1320px;
    height: 662.07px;    
    display: flex; 
     justify-content: center;
    align-items: center;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 16px;
} 
.discount-left-section>img{
    /* position: absolute; */
    width: 674.82px;
    height: 577.96px;
    margin-right: 60.81px;

}
.discount-right-section>img{
    margin: 77px 40.31px 279.38px 177.54px;
    width: 305.69px;
    height: 305.69px;
} 